<div class="row mt-3">
    <div class="col-6">
        <label class="m-2" for="nombre">Autor</label>
        <select name="autor_id" class="form-select" aria-label="Default select example">
            <option selected>Elige el autor</option>
            <% autores.forEach((referencia)=>{%>
                <option value="<%= referencia.id %> ">
                    <%= referencia.autor %>
                </option>
                <% });%>
        </select>
    </div>
    <div class="col-6">
        <label class="m-2" for="Libro">Categoria</label>
        <select  name="categoria_id" class="form-select" aria-label="Default select example">
            <option selected>Elige la categoria</option>
            <% categorias.forEach((referencia)=>{%>
                <option value="<%=referencia.id%> ">
                    <%= referencia.categoria %>
                </option>
                <% });%>
        </select>
    </div>
</div>